.specials, .ads, .footer {
    margin-top: 2%;
    text-align: center
}
.specials .product {
    max-width: 300px;
}
body {
    padding-bottom: 25px;
    padding-top: 2%;
}

.footer .navbar-header {
    float: none;
}
.footer .navbar-toggle {
    display: block;
}
.footer .navbar-nav {
    float: none!important;
}
.footer .navbar-nav>li {
  float: none;
}
@media (min-width: 768px) {
    .footer .navbar-header button {
        display: none
    }
}
